.unity-ui-document-inspector--with-parent
{
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 10px;
}

.unity-ui-document-inspector--with-parent--hidden
{
    display: none;
}

.unity-ui-document-inspector--panel-missing--hidden
{
    display: none;
}
